*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.circle{
  /* height: 500px; */
}
.disk{
  width: 150px;
  height: 150px;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%;
}
/* @keyframes rotate{
  from{ transform: rotate(-360deg); }
  to{ transform: rotate(360deg); }
} */
.nav-background{
  background-color:#604CC3;
  font-size: 20px;
  color: white;
 }
.textcolor{
  color: white;
 }
.hero-button {
 background-color:#604CC3 !important; 
 }
 .nav-button{
  background-color:#FF3EA5 !important;
  border: 0;
 }
 .App-name{
  color: #FF3EA5;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-weight:bolder;
  font-size: larger;
 }
 .trending-heading{
  background: #FF25DB;
background: linear-gradient(to right, #FF25DB 42%, #FFDB00 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
 }
 .recently-played-container{
  margin: auto;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding:20px 20px;
  width: 40%;
 }
 main{
background-color: #FF3EA5;
background-image: linear-gradient(0deg, #FF3EA5 0%, #604CC3 100%);
height: 100vh;
color: whitesmoke;
 }
 .bi-x-circle{
  font-size: 50px;
  text-align: center;
  padding-right: 20px;
 }

.mywishtlist-container{
  margin: auto;
  width: 60%;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding:20px 20px; 
}
.mywishtlist{
  height: 100vh;
color: whitesmoke;
background-image: url('../src//assests/wishtlist.jpg');
padding-top: 50px;
}
.cardhover{
  transition: transform 0.5s;
}
.cardhover:hover{
  transform: scaley(1.3); 
}
.container-audio {
  width: 86%;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  /* background-color: #eee; */
  color: #444;
  margin: 20px auto;
  overflow: hidden;
}
audio {
width:100%;
}
audio:nth-child(2), audio:nth-child(4), audio:nth-child(6) {
  margin: 0;
}
.song-icon{
  padding:20px 40px;
  font-size: 25px;
  /* color: white; */
  font-weight: bolder;
}

.animation{
  height: 55px;
  display: flex;
  transform: rotate(180deg);
  justify-content: center;
}
.animation span{
  width: 10px;
  margin: 0 5px;
  border-radius: 6px;
  /* background-color: #fff; */
  animation: loader 2s infinite;
}
@keyframes loader{
  0%, 100%{
    height: 15px;
    background: #0081C9;
  }
  25%{
    height: 55px;
    background: #FFB100;
  }
  50%{
    height: 20px;
    background: #604CC3;
  }
  75%{
    height: 55px;
    background: #FF3EA5;
  }
}
.animation span:nth-child(1){
  animation-delay: .2s;
}
.animation span:nth-child(2){
  animation-delay: .4s;
}
.animation span:nth-child(3){
  animation-delay: .6s;
}
.animation span:nth-child(4){
  animation-delay: .8s;
}
.animation span:nth-child(5){
  animation-delay: 1s;
}
.ps
{
 background: rgba(102, 47, 233, 0.4);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.ArtistSongs{
  background-image: radial-gradient( circle 382px at 50% 50.2%,  rgb(76, 78, 199) 0.1%,#604CC3 100.2% );
  min-height: 100vh;
  color: white;
}
.bi-arrow-left-circle-fill{
  font-size: 50px;
  padding-left: 10%;
}
